# 1683. Invalid Tweets (SQL)

tweet_id 是此表的主鍵（具有唯一值的欄位）。

內容由字母數字字元、「！」或「 」組成，且不能包含其他特殊字元。

此表包含社交媒體應用程式中的所有推文。

編寫一個解決方案來尋找無效推文的 ID。

如果推文內容中使用的字元數嚴格大於 15 個，則該推文無效。

以任意順序傳回結果表。

結果格式如下例所示。

---

tweet_id is the primary key (column with unique values) for this table.

content consists of alphanumeric characters, '!', or ' ' and no other special characters.

This table contains all the tweets in a social media app.
 
Write a solution to find the IDs of the invalid tweets. 

The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

In [ ]:
Input: 
Tweets table:
+----------+-----------------------------------+
| tweet_id | content                           |
+----------+-----------------------------------+
| 1        | Let us Code                       |
| 2        | More than fifteen chars are here! |
+----------+-----------------------------------+
Output: 
+----------+
| tweet_id |
+----------+
| 2        |
+----------+
Explanation: 
Tweet 1 has length = 11. It is a valid tweet.
Tweet 2 has length = 33. It is an invalid tweet.

In [ ]:
SELECT tweet_id
FROM Tweets
WHERE length(content) > 15;