# 1075. Project Employees I (SQL)

In [ ]:
Table: Project
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| project_id  | int     |
| employee_id | int     |
+-------------+---------+
(project_id, employee_id) is the primary key of this table.
employee_id is a foreign key to Employee table.
Each row of this table indicates that the employee with employee_id is working on the project with project_id.
 
(project_id, employee_id) 是此表的主鍵。
employee_id 是 Employee 表的外鍵。
此表的每一行都表示 employee_id 為員工，正在處理 project_id 為專案的工作。

Table: Employee
+------------------+---------+
| Column Name      | Type    |
+------------------+---------+
| employee_id      | int     |
| name             | varchar |
| experience_years | int     |
+------------------+---------+
employee_id is the primary key of this table. It's guaranteed that experience_years is not NULL.
Each row of this table contains information about one employee.

Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.
Return the result table in any order.
The query result format is in the following example.

employee_id 是此表的主鍵。 experience_years 保證不為 NULL。
此表的每一行包含一位員工的資訊。

寫一個 SQL 查詢，報告每個專案所有員工的平均工作年限，四捨五入到兩位數。
以任意順序傳回結果表。
查詢結果格式如下例所示。


Example 1:

Input: 
Project table:
+-------------+-------------+
| project_id  | employee_id |
+-------------+-------------+
| 1           | 1           |
| 1           | 2           |
| 1           | 3           |
| 2           | 1           |
| 2           | 4           |
+-------------+-------------+
Employee table:
+-------------+--------+------------------+
| employee_id | name   | experience_years |
+-------------+--------+------------------+
| 1           | Khaled | 3                |
| 2           | Ali    | 2                |
| 3           | John   | 1                |
| 4           | Doe    | 2                |
+-------------+--------+------------------+
Output: 
+-------------+---------------+
| project_id  | average_years |
+-------------+---------------+
| 1           | 2.00          |
| 2           | 2.50          |
+-------------+---------------+
Explanation: The average experience years for the first project is (3 + 2 + 1) / 3 = 2.00 and for the second project is (3 + 2) / 2 = 2.50

In [ ]:
SELECT Project.project_id, ROUND((SUM(Employee.experience_years) / COUNT(Employee.name)), 2) AS average_years
FROM Project LEFT JOIN Employee 
USING(employee_id)
GROUP BY Project.project_id

In [ ]:
SELECT Project.project_id, ROUND(AVG(Employee.experience_years), 2) AS average_years
FROM Project LEFT JOIN Employee 
USING(employee_id)
GROUP BY Project.project_id

* 最快的

In [ ]:
SELECT Project.project_id, ROUND(AVG(Employee.experience_years), 2) AS average_years
FROM Project LEFT JOIN Employee 
ON Project.employee_id = Employee.employee_id
GROUP BY Project.project_id